@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
/**********************************************
* 공통 스타일 
**********************************************/
*{margin:0; padding:0;}
body{ font-family: 'Noto Sans KR', sans-serif; }
img{border: 0; vertical-align: middle; }
ul li{list-style: none;}
a{text-decoration: none;color: #333;}
a:hover{color: #000;}

.fl{ float: left;}
.fr{ float: right; }
.tl{ text-align: left; }
.tr{ text-align: right; }
.tc{ text-align: center; }

#warp{ width: 100%; position: relative; }
#top{ width: 100%; height: 70px;border-bottom: 3px solid #0054a6; }

/***** toggle *****/
#toggle_menu {}
.toggle_menu{ padding-top: 0px;
	width: 200px; height: 100%; 
	background: #fff; border-right: 2px solid #ffcb05;
	position: absolute; top: 0; left: 0; z-index: 9999999; 
}
dl#accordion{ border-bottom: 1px solid #ccc; }
.toggle_menu dt.nav{
	padding: 0 15px 0 15px; 
	line-height: 40px; border-top: 1px solid #aaa;
	font-size: 100%; 
}
.toggle_menu dt.nav a{ color: #333; font-size: 90%; font-weight: bold; }
.toggle_menu dt.nav img{ right: 15px; padding-top: 18px; position: absolute; }

.toggle_menu dd.nav_lv2{ padding: 5px 0 10px 30px; height: auto !important; }
.toggle_menu dd.nav_lv2 ul li{ line-height: 1.5; }
.toggle_menu dd.nav_lv2 ul li a{ color: #777; font-size: 80%; }
.toggle_menu dd.nav_lv2 ul li a:hover{ color: #ffcb05; letter-spacing: 0;}

#toggle_close{position: absolute;display: block;width:30px; height:30px;right: -34px;background-color: #fff;border: 2px solid #ffcb05;}
#toggle_close h1{font-size:15px; text-align:center; line-height:30px; cursor:pointer;}
/***** top *****/
/* 플래시 메뉴 */
#myInfo1011{ display: none; }
#myInfo_640{ display: none; }
.top1011{ display: none; }
.top480{ width: 100%; position: relative; height: 70px; }
.top480 .toggle{ position: absolute; top: 17px; left: 17px; }
.top480 .logo{ text-align: center; height: 70px; line-height: 70px; }
.top480 .info{ position: absolute; top: 17px; right: 17px; }

/***** 이벤트 배너 *****/
#ban_ev480{ 
	display: block;
	background-color: #fe405a;
	padding: 0 20px 0 0;
}
#ban_ev480 a{display: none;
}
#ban_ev1011{ display: block; }/* 후원신청 */

/* 메인 전체페이지 */
#contents{ overflow: hidden; }
#main_section{ width: 100%; clear: both; position: relative;}
#aside{ width: 100%; clear: both; }

/* main_banner */
#main_contents .main_ban{ position: relative; height: auto; }
#main_contents .main_ban .play_box{ 
	position: absolute; bottom: 10px;left: 45%; z-index: 100; overflow: hidden; 
	/*모양*/
	background: none;padding: 10px 13px 5px 10px;
}
#main_contents .main_ban .play_box .btn_con{ float: left; }

/*button*/
#main_contents .main_ban .play_box .btn_cl{ 
	float: left;height: 18px;line-height: 18px;

	
}
#main_contents .main_ban .play_box .btn_cl a{
	display: inline-block;
	width: 10px; height: 10px;
	background: #fff; 
	/*border: 1px solid #333;*/ border-radius: 50%; 
}

/* main_banner의 스크립트 처리 css */
#container li.banner{ position: absolute; width: 100%; }

/* 이벤트 메뉴 */
#main_contents .even_menu{ height: 54px; width: 100%; border: 1px solid #ccc;margin-top: 10px;box-sizing: border-box;/*background: url("img/main_quick_bg.png") repeat; */}
#main_contents .even_menu ul{ overflow: hidden; }
#main_contents .even_menu ul li{ width: 33.3%; font-size: 94%; border-right: 1px solid #ccc; box-sizing: border-box; padding: 0 15px;height: 63px; }
#main_contents .even_menu ul li:last-child{ border-right: none; padding: 0 8px; }
#main_contents .even_menu ul li a{ overflow: hidden; }
#main_contents .even_menu ul li a span{ 
	display: block; 
	height: 54px; line-height: 54px;
	color: #333; font-weight: 300;
}
#main_contents .even_menu ul li a img{ display: block; padding-top: 13.5px; }

.tc_fl_img{margin-top: -10px;width: 40px;float: left;margin-right: 10px;}

/****** CONTENTS_BOX ******/
#main_contents.contentsBox{/* padding: 5%;*/ overflow: hidden; }
#main_contents .box{width: 100%; box-sizing: border-box; margin-bottom: 5%; /*border: 1px solid #eee;*/background-color: #fff;}
.box_img{ height: 151px; border: 1px solid #eee;}

.now_img{text-align: center;}
.box_img .title{ 
	overflow: hidden;
	padding-bottom: 10px;margin-left: 10px;
	color: #222; font-size: 95%;padding-top: 10px;
}
.box_img .title a h3{ float: left; }
.box_img .title a h3 img{margin-right: 10px;}



#main_contents .box_text{ height: 290px;padding: 0 5% 5% 5%;text-align: center;box-sizing: border-box;border: 1px solid #eee;}
.blank{background-color: #eee;height: 8px}
#main_contents .box_text .title{ 
	overflow: hidden;
	padding-bottom: 10px;
	color: #222; font-size: 95%;padding-top: 10px;
}
#main_contents .box_text .title a h3{ float: left; }
#main_contents .box_text .title a h3 img{margin-right: 10px;}
#main_contents .box_text .title input{ display: block; float: right; margin-top: 5px;}

#main_contents .box_text .text{ margin-top: 10px;cursor: pointer;}
#main_contents .box_text .text h4{ 
	color: #222; font-size: 90%;margin-top: 10px;margin-left: 20px;text-align: center;float: left;
	
	 /*...처리를 위한 방법 */
	/*width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}
#main_contents .box_text .text span{ color: #a4a4a4; font-size: 80%;margin-left: 10px;float: right;}
#main_contents .box_text .text p{ clear: both;margin-left: 20px;text-align: left;
	color: #222; font-size: 80%; 
	height: 149px; overflow: hidden;
	margin-top: 5px; 
}
#main_contents .box_text .text3 video{width: 50%;}
#main_contents .box_text .text2{ margin-top: 10px; }
#main_contents .box_text .text2 h4{ 
	color: #222; font-size: 80%;margin-left: 10px;text-align: center;float: left;
}
#main_contents .box_text .text2 span{ color: #a4a4a4; font-size: 80%;margin-left: 10px;}
#main_contents .box_text .text2 p{ clear: both;margin-left: 20px;text-align: left;
	color: #222; font-size: 80%; 
	height: 149px; overflow: hidden;
	margin-top: 5px;color: #ccc;
}
#main_contents .box_text .text2 .notice{cursor: pointer;border-bottom: 1px solid #ddd;height: 45px;margin-bottom: 10px;}
#main_contents .box_text .text2 .notice1{cursor: pointer;}

#main_contents .box_text .text3 video{width: 238px;cursor: pointer;}
#main_contents .box_text .text3 h4{color: #222; font-size: 90%;text-align: left;}
#main_contents .box_text .text3 p{color: #222; font-size: 85%;text-align: left;}
#main_contents .box_text .text3 h2{margin-top: 10px;padding: 5px 0 5px 0;font-size: 90%;background-color: #eee;color:#555;display: block;cursor: pointer;}
.box_title{height: 30px;/*background-color: rgba(5,74,142,0.8);*/background-color: #999;text-align: center;color: #fff;font-weight: 500;}

.intro_box{width: 230px;height: 80px;margin: 0 auto;/*margin-left: 20px;*/}
.intro_box ul li{float: left;margin-left: 10px;}
.intro_box ul li a img{width: 65px;}

.slideshow > div{width: 33.333%;height: 153px;float: left;position: relative;background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;cursor: pointer;}
.slideshow > div.bg1{background-image: url(./img/board_img_02.jpg);}
.slideshow > div.bg2{background-image: url(./img/board_img_03.jpg);}
.slideshow > div.bg3{background-image: url(./img/board_img_04.jpg);}
.bx-pager-item{display: none;}
.bx-controls-direction{display: none;}


/****** 기부 적립금 ******/
#amount_list_sec{ border-top: 2px solid #ff8500; margin: 0 5% 5% 5%; }
ul.amount_list{ overflow: hidden; }
ul.amount_list li{ overflow: hidden; width: 96%; padding: 0 2%; border-bottom: 1px dotted #C4C4C4; height: 45px; line-height: 45px; }
ul.amount_list li span.title{ font-size: 75%; color: #787878; font-weight: bold; }
ul.amount_list li span.count{ font-size: 150%; color: #FF8500; }

#aside{ position: absolute;right:-182px;top: 0;overflow: hidden; }
#amount_list_asi{ /*display: none;*/ }

/***** 후원정보 ******/
#acountInfo_ban{ background: #fff; /*padding: 0 5% 5% 5%;*/ width: 100%; height: 60px; overflow: hidden; position: relative; }
#acountInfo_ban .btn{ padding: 3.5% 0 0 4%; width: 10%; position: absolute; z-index: 9999; }
#before { top: 0; left: 0;}
#next { top: 0; right: 0;}
#acountInfo_ban .banner_image{ margin-top: 50px;width: 76%; padding: 0px 12% 0 12%; position: absolute; }
#acountInfo_ban .banner_image ul li{ width: 45%; text-align: center; padding: 2% 2%; }

/***** 후원 계좌 정보 *****/
#acountInfo{ width: 90%; padding: 0 5% 5% 5%; }
#acountInfo ul{ overflow: hidden; }
#acountInfo ul li{ width: 40%; padding: 15px 5%; font-size: 100%; font-weight: bold; }
#acountInfo ul li.li_1{border: 1px solid #eee; box-sizing: border-box;}
#acountInfo ul li.li_1 a{color: #777; font-weight: 400;}
#acountInfo ul li.li_2{border: 1px solid #eee; box-sizing: border-box;}
#acountInfo ul li.li_2 a{color: #777; font-weight: 400;}
#acountInfo ul li.li_3{ width: 80%; padding: 15px 10%; background: #f1f1f1; font-size: 70%; }
#acountInfo ul li.li_3 .title{ background: #4c4949; width: 90px; padding: 2px 3px; color: #bebcba; font-size: 85%; }
#acountInfo ul li.li_3 .bank{ color: #5e5a5b; line-height: 1.5; }

/***** 나눔기업 *****/
#spon{ position: relative; background-color: #fff; border-top: 1px solid #ddd; padding: 5px 0; height: 40px; }
#spon h3{ position: absolute; top: 15px; left: 15px; font-size: 80%; color: #4c4c4c; letter-spacing: -1px; }
#spon ul{ height: 40px; overflow: hidden; padding: 0 40px 0 80px; }
#spon ul li{ float: left; width: 50%; }
#spon ul li a{ display: block; text-align: center; height: 40px; line-height: 40px; }
#spon .btn_spon{ position: absolute; top: 0; right: 0;} 

/***** footer *****/
#sns_1011{ display: none; }
#footer1011{ display: none; }
#footer{ padding: 30px 30px 12px 30px; background-color: #eaeaea; border-top:1px solid #ddd; position: relative; font-size: 12px; }
#footer .sns{ position: absolute; right: 20px; top: 20px; }
#footer .sns ul{ overflow: hidden; }
#footer .sns ul li{ float: left; padding: 10px 5px; }
#footer .add{ font-size: 95%; letter-spacing: -1px; line-height: 1.5; padding: 30px 0 10px 0; }
#footer .add address{ font-style: normal; color: #918585; }
#footer .add address span{ display: inline-block; padding:0 5px 0 8px; }
#footer .add p{ display: none; color: #9a9a9a; }




/*******************************************************************************
/* 400 ~ 480 보드1개
/*******************************************************************************/
@media (max-width: 480px) {

	/* 이벤트 메뉴 */
	#main_contents .even_menu{ height: 46px; }
	#main_contents .even_menu ul li{ font-size: 90%; }
	#main_contents .even_menu ul li a span{ height: 46px; line-height: 46px; float: none; padding-left: 0; }
	#main_contents .even_menu ul li a img{ display: none; float: none; }
    #amount_list_sec{ display: none; }
    #aside{display: none;}
    #sns_1011{display: none;}
    .sns{display: none;}
    
    
#main_contents .box_text .text{ margin-left: 0px;}
#main_contents .box_text .text h4{margin-left: 60px;}
#main_contents .box_text .text span{ color: #a4a4a4; font-size: 80%;margin-left: 10px;float: right;}
#main_contents .box_text .text p{ clear: both;margin-left: 60px;
}
#main_contents .box_text .text3 video{width: 50%;}
#main_contents .box_text .text2{ margin-top: 10px; }
#main_contents .box_text .text2 h4{ 
	color: #222; font-size: 80%;margin-left: 10px;text-align: center;float: left;
}
#main_contents .box_text .text2 span{ color: #a4a4a4; font-size: 80%;margin-left: 10px;}
#main_contents .box_text .text2 p{ clear: both;margin-left: 20px;text-align: left;
	color: #222; font-size: 80%; 
	height: 149px; overflow: hidden;
	margin-top: 5px;color: #ccc;
}
#main_contents .box_text .text2 .notice{cursor: pointer;border-bottom: 1px solid #ddd;height: 45px;margin-bottom: 10px;}
#main_contents .box_text .text2 .notice1{cursor: pointer;}

#main_contents .box_text .text3 video{width: 238px;cursor: pointer;}
#main_contents .box_text .text3 h4{color: #222; font-size: 90%;text-align: left;}
#main_contents .box_text .text3 p{color: #222; font-size: 85%;text-align: left;}
#main_contents .box_text .text3 h2{margin-top: 10px;padding: 5px 0 5px 0;font-size: 90%;background-color: #eee;color:#555;display: block;cursor: pointer;}
}


/**** 481 ~ 639 보드2개 ****/
@media (min-width: 481px) and (max-width: 639px) {
	
	/* CONTENTS_BOX */
	#main_contents .box{ width: 48%; }
	#main_contents .box:nth-child(2n+1){ margin-right: 4%; }
    
    	/* 기부 적립금 */
	#amount_list_sec{ display: none; }
	#aside{display: none;}
    .intro_box{padding-left: 50px;}
}

/**** 640 ~ 1010 보드3개 ****/	
@media (min-width: 640px) and (max-width: 1010px) {
	/* top */
	#myInfo_640{ display: block; position: absolute; top: 25px; right: 100px; }
	#myInfo_640 a{ color: #dbdad6; font-size: 70%; padding-right: 15px; }

	/* 이벤트메뉴 */
	#main_contents .even_menu ul li{ padding: 0 5px; box-sizing: border-box;overflow: hidden;height: 55px;}
	
    

	/* CONTENTS_BOX */
	#main_contents .contentsBox{ padding: 2% 0 5% 2%; }
	#main_contents .box{ width: 31%; margin-right: 2.33%; }
    .intro_box li:first-of-type{display: none;}
    .now_img{width: 90%;}
    #main_contents .box_text .text{ margin-top: 10px;cursor: pointer;}
#main_contents .box_text .text h4{margin-left: 0px;}
#main_contents .box_text .text span{ display: none;}
#main_contents .box_text .text p{ clear: both;margin-left: 0px;}
    #main_contents .box_text .text3 video{}
#main_contents .box_text .text2{ margin-top: 10px; }
    #main_contents .box_text .text2 h4{ font-size: 90%;text-align: left;font-weight: 300;}

#main_contents .box_text .text2 span{ display: none;}
#main_contents .box_text .text2 p{ display: none;
}
#main_contents .box_text .text2 .notice{cursor: pointer;border-bottom: 1px solid #ddd;height: 43px;margin-bottom: 10px;}
#main_contents .box_text .text2 .notice1{cursor: pointer;}

#main_contents .box_text .text3 video{width: 160px;cursor: pointer;}
#main_contents .box_text .text3 h4{margin-top: 10px;color: #222; font-size: 90%;text-align: left;}
#main_contents .box_text .text3 p{color: #222; font-size: 85%;text-align: left;}
#main_contents .box_text .text3 h2{margin-top: 17px;padding: 5px 0 5px 0;font-size: 90%;background-color: #eee;color:#555;display: block;cursor: pointer;}
    
	/* 기부 적립금 */
	#amount_list_sec{ display: none; }
	#aside{ overflow: hidden; display: none;}


	/* 나눔기업 */
	#spon ul li{ width: 25%; }


}

/**** 1011 ~  전체 ****/
@media (min-width: 1011px) {
	/* 전체 페이지 */
	#myInfo1011 > .myInfo1011, #top > .top1011, #contents, #spon, #footer{ width: 980px; margin: 0 auto; }
	#contents{width: 1000px;margin-top: 30px;}
	#main_section{ 
		clear: none;
		width: 798px; 
		background: #fff;
		/*border-right: 1px solid #dcdcdc;*/ box-sizing: border-box; float: left;
	}
	#aside{width: 162px; clear: none;box-sizing: border-box;}

	/* top */
	/*** myInfo1011 ***/
	#myInfo1011{ display: block; width: 100%; height: 40px; background: #eee; }
	#myInfo1011 .myInfo{ width: 980px; margin: 0 auto; overflow: hidden;}
	#myInfo1011 .myInfo ul{ overflow: hidden; float: right; }
	#myInfo1011 .myInfo ul li{ float: left; font-size: 70%; margin-top: 8px; }
	#myInfo1011 .myInfo ul li.bar{ padding: 0 10px; font-size: 50%; color: #ccc;}
	#myInfo1011 .myInfo ul li.search{ overflow: hidden; margin: 0 0 0 20px;margin-top: 5px; }
	#myInfo1011 .myInfo ul li.search input{ display: block; }
	#myInfo1011 .myInfo ul li.search input[type="text"] { 
		height: 10px; padding: 9px 10px; float: left; /*background-color: #eee;*/ border: 1px solid #eee; outline: 0;
	}
    #myInfo1011 .myInfo ul li.search input[type="image"] {position: absolute;width: 24px;margin-top: 3px;margin-left: 160px;}
	#myInfo1011 .myInfo ul li a{font-size: 12px;color: #333; cursor: pointer;}

	/* top1011 */
	#top{ height: 85px; }
	#top .top1011{ overflow: hidden; }
	#top .top1011 h1 { 
		width: 30%; height: 85px; float: left; 
		background: url("img/logo.png") no-repeat 10px 50%; text-indent: -1000em;
		background-size:250px;cursor: pointer;
	}
	#top .top1011 .menu{ float: right; }
	#top .top1011 .menu ul{ overflow: hidden;margin-top: 30px; }
	#top .top1011 .menu ul li{ float: left;margin-left: 30px;}
    #top .top1011 .menu ul li a{font-size: 18px;color:#333;}
    #top .top1011 .menu ul li:hover a{color:#ffcb05;font-weight: bold;}
    #top .top1011 .menu ul li:last-of-type a{color:#0054a6;font-weight: bold;}
   
	
	#top .top1011 .inner_menu{ 
		display: none;
		width: 57%; height: 150px;
		position: absolute; top: 115px; left: 0; z-index: 99999999;
		overflow: hidden;
		background: #fff;
		opacity: 0.9;
		border-bottom: 3px solid #338ac9; 
	    padding: 20px 0 0 43%;
	}
	#top .top1011 .inner_menu ul{ width: 100px;}
	#top .top1011 .inner_menu ul li { width:120px; margin-left: 8px;}
	#top .top1011 .inner_menu ul li a{ font-size: 14px; color: #333; margin-left:18px;}
	#top .top1011 .inner_menu ul li a:hover{ color: #0054a6; font-weight: bold; }
	#top .top1011 .inner_menu ul li a.small{ margin-left: 6px; font-size: 10px; }

	/* 후원신청 버튼 */
	#top .top480{ display: none; }
	#ban_ev480{ display: none; }

	#top .top1011{ display: block; }
	#ban_ev1011{ display: block; width: 100%; }
	#ban_ev1011 a{
		display: block;
		background: url("img/quick_sponsor.png") no-repeat 100% 100%;
		height: 153px;
        border:1px solid #eee;
		text-indent: -1000em;
		overflow: hidden;
	}
	
	
	/* #main_section */

	/*main 상단 배너 이미지 컨트롤*/
	#main_contents .main_ban ul li a img{ height: 390px; }

	/* 이베트 메뉴 */
	#main_contents .even_menu{ height: 63px; }
	#main_contents .even_menu ul li{ font-size: 100%; padding: 0 40px; }
	#main_contents .even_menu ul li:last-child{ padding: 0 40px; }
	#main_contents .even_menu ul li a span{ height: 63px; line-height: 63px; }
	#main_contents .even_menu ul li a img{ padding-top: 18px; }

	/* CONTENTS_BOX */
	#main_contents .contentsBox{margin-left: 0px;margin-top: 20px;}
	#main_contents .box{ width: 33.333%; margin-left: 0%; }
  
    

	/* 기부 적립금 */
	#amount_list_asi{ display: none; }
	#aside{ overflow: hidden; }
	#amount_list_sec{ margin: 0 1%; }
	ul.amount_list li{ padding: 0 3%; float: left; border-bottom: none; }
	ul.amount_list li:nth-child(1), ul.amount_list li:nth-child(2){ width: 21%;}
	ul.amount_list li:nth-child(3){ width: 40%;}
	ul.amount_list li span.count{ font-size: 200%; }

	/* 후원 계좌 정보 */
	#acountInfo{ width: 100%; padding: 0; }
	#acountInfo ul li{ 
		clear: both; 
		padding: 15px 0; width: 100%; 
		font-size: 100%; text-align: center; 
	}
	#acountInfo ul li.li_3{ width: 100%; padding: 15px 0; }
	#acountInfo ul li.li_3 .title{ width: 70%; margin: 0 15%; font-size: 100%; } 

	/* spon */
	#acountInfo_ban .btn{ display: none; }
	#acountInfo_ban{ width: 100%; height: 265px; }
	#acountInfo_ban .banner_image{ width:100%; padding: 0; }
	#acountInfo_ban .banner_image ul li{ width:100%; border-bottom: 1px solid #dcdcdc; }
	#spon ul li{ width: 25%; }

	/* footer */
	#sns_all{ display: none; }
	#sns_1011{ display: block; overflow: hidden; padding: 10% 10% 0 10%; }
	#sns_1011 ul li{ float: left; margin-left: 10px;}
    #sns_1011 ul li a img{width: 30px;height: 30px;}

	#footer{ padding: 0; background-color: #fff; }
	#footer1011{ display: block; overflow: hidden; padding: 30px 40px 0 0; }
	#footer1011 .pri_policy{ float: left; }
	#footer1011 .family_site{ float: right; overflow: hidden; }

	#footer1011 ul{ overflow: hidden; }
	#footer1011 ul li{ float: left; font-size: 120%; }
	#footer1011 ul li.point_ora a{ color: #0054a6;font-weight: bold; }
	#footer1011 ul li.bar{ padding: 0 8px; font-size: 80%; color: #777; }
	#footer1011 ul li a{ color: #777;}
	#footer1011 ul li input{ margin-top: 2px; }

	#footer1011 .family_site select{ display: block; float: left; width: 100px; height: 24px; margin-right: 5px; }
	#footer1011 .family_site input{ display: block; float: left; }

	#footer .add{ font-size: 120%; padding: 10px 0 40px 0; }
}
